.card-collection {
    display: flex;
  }
  .cardBx {
    height: 40vh;
    background-color: #1d0841;
    filter: opacity(0.5);
    filter: brightness(1.2);
    margin: 15px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    width:20%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: center;
    height:50vh;
    width:95%;
  }
  .cardBx:hover{
    transform: scale(1.2);
  }
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  .cardTitle {
    font-size: small;
  }
  .cardImg {
    padding: 10%;
    object-fit: cover;
    height:80%;
    width:80%;
    
  }
  .SeasonCardBx{
    background-color: #290b5e;
    filter: opacity(0.5);
    filter: brightness(1.2);
    margin: 15px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    width:33%;
    cursor: pointer;
}