.card-collection {
    display: flex;
  }
  .cardBx {
    background-color: #1d0841;
    filter: opacity(0.5);
    filter: brightness(1.2);
    margin: 15px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    width:20%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: center;
    width:95%;
  }
  .cardBx:hover{
    transform: scale(1.1);
  }
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  .cardTitle {
    font-size: small;
    font-weight: 700;
    letter-spacing:1px;
    text-decoration: underline;
    padding: 15px;
  }
  .cardImg {
    object-fit: cover;
    height:80%;
    width:80%;
    
  }
  .SeasonCardBx{
    background-color: #1d0841;
    filter: opacity(0.5);
    filter: brightness(1.2);
    margin: 15px;
    border-radius: 10px;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    width:20%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    align-self: center;
    width:95%;
}