.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Nav {
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-content: space-between;
 margin: 3%;
}
.navlogo {
  margin-right: auto;
  height:104px;
}
.Search {
   margin-left: auto;
   height:32px;
   border-radius: 25px;
   flex-grow: 1;
}
.App-header {
  background-color: #0c0d0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
